{{! This is a comment }}
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <h1>{{header}}</h1>
  {{#items}}
    <p>{{name}} - ${{price}}</p>
  {{/items}}
  {{^items}}
    <p>No items available.</p>
  {{/items}}
  {{#showFooter}}
  <footer>
    <p>Contact: {{contact.email}}</p>
  </footer>
  {{/showFooter}}
</body>
</html>
