doctype html
html
  head
    title Slim Example
    meta name="viewport" content="width=device-width,initial-scale=1"
  body
    h1 Welcome to Slim
    p
      | This is a paragraph in Slim.
      | Slim is a templating language.
    ul
      li Item 1
      li Item 2
      li Item 3
    - if user
      p Hello, #{user.name}!
    - else
      p Please log in.