## Velocity Template Example - List Processing
#set( $list = ["Apple", "Banana", "Cherry", "Date"] )
<html>
<head>
    <title>Fruit List</title>
</head>
<body>
    <h1>Available Fruits</h1>
    <ul>
#foreach( $fruit in $list )
    <li>$fruit</li>
#end
    </ul>
    <p>Total fruits: $list.size()</p>
#if( $list.size() > 3 )
    <p>We have a large selection!</p>
#else
    <p>Limited selection available.</p>
#end
</body>
</html>
