:root {
  --font-size: 14px;
  --link-color: #0080ff;
  --background: #ffffff;
}

body {
  font-size: var(--font-size);
  background: var(--background);
}

a {
  color: var(--link-color);
}

a:hover {
  color: color(var(--link-color) tint(20%));
}
