Scene(
    title: "Fairy writer",
    materials: {
        "hero": (
            color: Some(Rgba(
                red: 0.5,
                green: 0.3,
                blue: 0.8,
                alpha: 1.0,
            )),
        ),
        "enemy": (
            color: Some(Rgba(
                red: 1.0,
                green: 0.0,
                blue: 0.0,
                alpha: 1.0,
            )),
        ),
    },
    entities: [
        (
            position: (512, 256, 128),
            material: "hero",
        ),
        (
            position: (256, 512, 0),
            material: "enemy",
        ),
    ],
)
