frappuccino = #1a252f

sidebar
  color: #fff
  width: 260px
  &.active
    background: frappuccino
  .view
    padding: 10px
    border-top: 1px solid #2f4358
  .view:first-child
    border: none
  h3
    margin: 0 0 10px 0
    color: #c5d4dd
    text-shadow: 0 -1px 0 rgba(0,0,0,0.45)
    font-size: 18px
  a
    color: #c5d4dd
    text-shadow: 0 -1px 0 rgba(0,0,0,0.45)
    border: none
    &:hover, &.active
      background: rgba(0,0,0,0.1)
      text-shadow: none
      color: #fff