;@EventHandler

;@initialize()
;@  unmap(#5)
;@  sound("welcome.wav")

;@begin()
;@  timer(15,3000)

;@alarm(15)
;@  map(#5)
;@  unmap(#6)
;@  timer(16,6000)

;@alarm(16)
;@  map(#6)
;@  unmap(#5)
;@  timer(15,6000)

;@unfix(#12)
;@  sound("hatsoff.wav")
