class {
    onCreate() {
        this.state = {
            count: 0
        };
    }
    increment() {
        this.state.count++;
    }
    decrement() {
        this.state.count--;
    }
}

<div>
    <h1>Counter: ${state.count}</h1>
    <button on-click('increment')>
        Increment
    </button>
    <button on-click('decrement')>
        Decrement
    </button>
</div>